<a href="https://colab.research.google.com/github/MarciaCristinaRibeiro/Exercicios_Python/blob/Scripts_Python/aula_03_SoulCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdução ao Python
Escola: SoulCode Academy

Curso: Analista de Dados e Dashboards

Período: Noturno

Assunto: Python

Professor: Franciane Rodrigues

Aluna: Márcia

## **Operadores Matemáticos** ##

In [ ]:
# Operador de adição
n1 = 5.887
n2 = 7.15
soma = n1 + n2

In [ ]:
# Modos de apresentação de resultados: adição
print(soma)
print('A soma é: ', soma)
print(f'A soma dos números é: {soma:.2f}')
print(n1 + n2)
n1 + n2

13.036999999999999
A soma é:  13.036999999999999
A soma dos números é: 13.04
13.036999999999999

13.036999999999999

In [ ]:
# Operador de subtração
a1 = 154.587
a2 = 10.548
sub = a1 - a2

In [ ]:
# Modos de apresentação de resultados: subtração
print(sub)
print('A subtração é: ', sub)
print(f'A subtração dos números é: {sub:.2f}')
print(a1 - a2)
a1 - a2

144.039
A subtração é:  144.039
A subtração dos números é: 144.04
144.039

144.039

In [ ]:
# Operador de multiplicação
b1 = 3.57
multi = b1 * 3
print('A multiplicação é: ', round(multi,2))

A multiplicação é:  10.71

In [ ]:
# Operador de divisão
x1 = 3
x2 = 2
div = x1 / x2

print(div)
print(f'A divisão dos números é: {div:.2f}')

1.5
A divisão dos números é: 1.50

In [ ]:
# Módulo - Resto
# Resto da divisão
rdiv = 10 % 3
print (rdiv)

1

In [ ]:
# Parte inteira da divisão
idiv = 10 // 3
print (f'A parte inteira da divisão 10 por 3 é: {idiv}')

A parte inteira da divisão 10 por 3 é: 3

In [ ]:
# Operador de potenciação
pot = 3 ** 2 # três ao quadrado
print (pot)

9

In [ ]:
# Outro exemplo
pow(3,2)

9

In [ ]:
# Radiciação
import math

In [ ]:
# Calculando raiz quadrada de 144
math.sqrt(144)

12.0

In [ ]:
# Sugestão
d = math.sqrt(144)
d = int(d)
d

12

## **Operadores de Comparação (Booleanos)**:

In [ ]:
# (==) verifica se dois valores são iguais ( retorna com resposa Tru ou False)
a = 3
b = 3.0
teste1 = a == b
print(teste1)

True

In [ ]:
# As comparações podem ser feitas com variáveis do tipo String
teste2 = 'fran' == 'Fran'
print(teste2)

False

In [ ]:
# (!=) Verifica se dois valores são diferentes (retorna True ou False)
a = 3
b = 3.0
teste3 = a != b
print(teste3)

False

In [ ]:
# (>) Verifica se um valor é maior que o outro
teste4 = 3 > 2
print(teste4)

True

In [ ]:
# (>=) Verifica se um valor é maior ou igual ao outro
teste5 = 3 >= 3
print(teste5)

True

In [ ]:
# (<) Verifica se um valor é menor que o outro
teste6 = 2 < 2
print(teste6)

False

In [ ]:
# (<=) Verifica se um valor é menor ou igual ao outro
teste7 = 2 <= 2
print(teste7)

True

## **Operadores de Atribuição**

In [ ]:
# (=) Atribuição direta: atribui ao lado esquerdo do sinal um valor à variável
nome = 'Marcia'
peso = 77
altura = 1.60

In [ ]:
# (+=) Atribuição de soma: equivale a x = x + y
# Crie uma variável t que receba o número inteiro 3 e depois some 1 para essa variável

t = 3
t = t + 1
print('O resultado de t + 1 é: ', t)

O resultado de t + 1 é:  4

In [ ]:
# Outro exemplo
t = 3
t = 3 + 1
print(t)

4

In [ ]:
# Modo utilizando o operador de atribuição soma
t = 3
t += 1
print(t)

4

In [ ]:
# (-=) Atribuição de subtração
# Crie uma variável z que receba o número inteiro 5 e depois diminua 2 para essa variável

z = 5
z -= 2
print(z)

3

In [ ]:
# (*=) Atribuição de multiplicação
# Crie uma variável j que receba o número 5 e multiplique por 2

j = 5
j *= 2
print(j)

10

In [ ]:
# (/=) Atribuição de divisão


k = 6
k /= 2
print(k)

3.0

In [ ]:
# (%=) Atribuição do resto da divisão
# Crie uma variável b que receba 7 e depois receba o resto da divisão por 2.

b = 7
b %= 2
print(b)

1

## **Operadores Lógicos**

In [ ]:
# (AND) retorna verdadeiro somente se TODAS as condições forem verdadeiras

teste8 = 3 >= 2 and 3 != 2 and 3 < 4
print(teste8)

True

In [ ]:
# (&) é o mesmo que 'AND'. Retorna verdadeiro se TODAS forem verdadeiras

teste9 = (3 >= 2) & (3 != 2) & (3 < 4)
print(teste9)

True

In [ ]:
# (OR) retorna verdadeiro se pelo menos uma condição for verdadeira

teste10 = 3 >= 2 or 3 == 2 and 3 > 4
print(teste10)

True

In [ ]:
# (|) é o mesmo que o OR

teste11 = (3 >= 2) | (3 == 2) | (3 > 4)
print(teste11)

True

## **Conversão de Valores**

In [ ]:
# Conversão de int para float

num_int = 10
num_float = float(num_int)

In [ ]:
# Chegando a conversão
print(type(num_int))
print(type(num_float))

<class 'int'>
<class 'float'>

In [ ]:
# Checando se tranformamos de 10 para 10.0

print(num_float)

10.0

In [ ]:
# Conversão de int para string
num_int = 10
num_str = str(num_int)

In [ ]:
# Chegando a conversão
print(type(num_int))
print(type(num_str))

<class 'int'>
<class 'str'>

In [ ]:
# Checando se tranformamos de 10 para '10'

print(num_str)

10

In [ ]:
# Conversão de float para int

num_float = 10.5
num_int = int(num_float)

In [ ]:
# Checando a conversão
print(type(num_float))
print(type(num_int))

<class 'float'>
<class 'int'>

In [ ]:
# Checando se transformamos
print(num_int)

10